
.reading-block .main-text {
    background-color: #00a1f1;
    color: #ffffff;
}
.reading-block .nav {
background-color: #252A3A;;
}
.reading-block .nav .nav-item {
    background-color: transparent;
}
.reading-block .nav .nav-item .nav-link.active {
    color:#ffffff;
}
.reading-block .nav .nav-item .nav-link.active,
.reading-block .nav .nav-item .nav-link:hover {
    border-color: transparent;
    background-color: transparent;
}
.reading-block .actions button {
    width: 60px;
    height: 60px;
}